<!-- <h4>{{lesson.ls_title}}</h4> -->
<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="setting">
        <uib-accordion-heading>
            <div class="no-margin" style="float:left; padding-top:6px">
                <strong style="color: #9E9E9E">{{lesson.ls_title}}</strong>
            </div>
            <div class="text-right no-margin"><i class="material-icons">tune</i></div>
            <!-- <div style="display: block; float: right">
                <i class="material-icons">tune</i>
            </div> -->
        </uib-accordion-heading>
        
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-1">
                <dt-check-box ng-model="playAll" label="Play All" name="playAll" ng-click="togglePlayAll(playAll)" disabled="dischkPlayAll"></dt-check-box>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-1">
                <dt-check-box ng-model="loop" label="Loop" name="loop" ng-click="toggleLoop(loop)" disabled="disChkLoop"></dt-check-box>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <dt-check-box ng-model="checkTiming" label="Check Timing" name="checkTiming" ng-click="toggleCheckTiming(checkTiming)" disabled="disChkTiming"></dt-check-box>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 text-right no-margin">
                <div class="btn-group">
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="$root.redirectTo('/LessonList', lesson.ls_lsg_id)" ng-disabled="btnBack"><i class="material-icons">arrow_back</i></a>
                </div>

                <div class="btn-group">
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="playAudio()" ng-disabled="btnPlay"><i class="material-icons">play_arrow</i></a>
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="pauseAudio()" ng-disabled="btnPause"><i class="material-icons">pause</i></a>
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="stopAudio()" ng-disabled="btnStop"><i class="material-icons">stop</i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-right no-margin">
                <div class="btn-group">
                    <!-- <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="reWindBar()"><i class="material-icons">fast_rewind</i></a> -->
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="playBar()" ng-disabled="btnPractice"><i class="material-icons">view_column</i></a>
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-click="forwardBar()" ng-disabled="btnPractice"><i class="material-icons">fast_forward</i></a>
                </div>
                <div class="btn-group">
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-if="startCount===false || (startCount===true && playPerBar===true)" ng-click="startPractice()" ng-disabled="btnPractice || playPerBar"><i class="material-icons">mic</i></a>
                    <a href="" class="btn btn-sm btn-raised btn-danger" ng-if="startCount===true && playPerBar===false" ng-click="stopPractice()"><i class="material-icons">refresh</i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
                
                
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2"></div>
        </div>

        

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
                <input ng-model="slider.value" type="text" id="slider" slider options="slider.options" />

                <input id="seekslider" class="seekslider" type="range" min="0" max="100" value="0" step="1">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p class="timeline text-center">{{curtime}} / {{durtime}}</p>
            </div>
        </div>

        <!-- <ul class="bar" ng-hide="playAll">
            <li ng-repeat="bar in barRange(bars) track by $index">
                <a href="" ng-click="choseBar($index+1)" id="bar_{{$index+1}}"></a>
            </li>
        </ul> -->

    </div><!-- uib-accordion-group -->
</uib>



<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div id="tbPlay" class="table-responsive" ><!-- onscroll="angular.element(this).scope.onScrolling()" -->
            <table class="table bs-component btn-group-sm table-practice">
                <thead>
                    <tr>
                        <th ng-repeat="key in keyNote" class="text-center" notePosit="{{key.position}}">
                            <span class="pbe-note" id="span{{key.note + key.oct}}" 
                                ng-class="{
                                    'pbe-note-root': (key.scaleNote===1), 
                                    'pbe-note-scale': (key.scaleNote===2),
                                    'pbe-note-half': (key.scaleNote===3)}">{{key.note + key.oct}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="key in keyNote" id="{{key.note + key.oct}}" 
                            class="text-center pbe-keyboard" 
                            height="60" 
                            notePosit="{{key.position}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row form-group"  ng-hide="checkTiming===true">
    <div id="board" class="col-xs-12 col-sm-12 col-md-12" style="background-color: #fff; height: 220px; overflow-y: auto;">
        <div id="tbBoard" class="table-responsive"><!-- onscroll="angular.element(this).scope.onScrolling()" -->
            <table class="table bs-component btn-group-sm table-practice" id="table_board"> <!-- table-bordered -->
                <thead style="display:">
                    <tr>
                        <th class="first-column no-border" ng-if="checkTiming===true"></th>
                        <th ng-repeat="key in keyNote" class="text-center text-muted"><span style="width: 60px !important; padding: 6px;">{{key.note + key.oct}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in boardLine track by $index">
                        <td class="first-column no-border" ng-if="checkTiming===true"
                            ng-class="{'first-column-success': (playNoted[$index].timeDif <= 10 && playNoted[$index].timeDif >= 0), 
                            'first-column-warning': (playNoted[$index].timeDif <= 30 && playNoted[$index].timeDif > 10),
                            'first-column-bad': playNoted[$index].timeDif > 30 }">{{playNoted[$index].time | number: 2}}</td>
                        <td ng-repeat="key in keyNote" id="board_{{key.note + key.oct}}_$index" class="text-center no-padding no-border" style="padding-top:0px; padding-bottom:0px;" notePosit="{{key.position}}">
                            <!-- <a href="javascript:void(0)" ng-if="line[$index].active===1" class="btn btn-success btn-fab">
                                <i class="material-icons">mood</i>
                            </a>
                            <a href="javascript:void(0)" ng-if="line[$index].active===2" class="btn btn-warning btn-fab">
                                <i class="material-icons">mood_bad</i>
                            </a> -->

                            <span class="pbe-note pbe-note-tab success" ng-if="line[$index].active===1" ><strong><i class="material-icons" style="font-size: 12px;">mood</i></strong></span>
                            <span class="pbe-note pbe-note-tab wrong" ng-if="line[$index].active===2" ><strong><i class="material-icons" style="font-size: 12px;">mood_bad</i></strong></span>
                            <p ng-if="line[$index].active===0" ng-class="{'line-to':(line[$index].noteFrom===1), 'arrow-right':(line[$index].noteFrom===2), 'arrow-left':(line[$index].noteFrom===3)}"></p>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-show="checkTiming===true">
    <div class="tl">
        <div id="timelineBoard" style="width:{{tlWidth}}px">
            <div class="tl-line bf"></div>
            <div class="tl-line"></div>
            <div class="tl-line af"></div>
        </div>
        <!-- <div id="t1" class="tl-active success" style="margin-left: 0px; margin-top: 100px"></div>
        <div id="t2" class="tl-active success" style="margin-left: 60px; margin-top: 100px"></div>
        <div id="t3" class="tl-active warning" style="margin-left: 100px; margin-top: 60px"></div>
        <div id="t4" class="tl-active success" style="margin-left: 140px; margin-top: 100px"></div>
        <div id="t5" class="tl-active error" style="margin-left: 180px; margin-top: 140px"></div> -->
    </div>
</div><br/><br/>









