<!-- <div class="well well-sm" ng-repeat="row in lessonGroup" ng-click="$root.redirectTo('/LessonList', row.lsg_id)">
    <a href="/#/LessonList/{{row.lsg_id}}">{{row.lsg_title}}</a>
</div> -->

<div class="well well-sm">
    <table class="table table-hover table-condensed table-front">
        <thead>
            <tr>
                <th># LEVEL</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in lessonGroup" ng-click="$root.redirectTo('/LessonList', row.lsg_id)">
                <td><a href="/#/LessonList/{{row.lsg_id}}">{{row.lsg_title}}</a></td>
            </tr>
        </tbody>
    </table>
</div>